body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(249, 249, 249);
  color: white;
  background-image: url('/deepf1_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.logo-text {
  width: 100%;
  position: relative; /* Fix the position at the top */
  top: 0;
  left: 0;
}

.logo-text h1 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  color: #000000;
  text-align: center;   
}
button.signOut {
  position: absolute;
  right: 3%;
  top: 3%;
  color: #ffffff;
  background-color: var(--amplify-colors-brand-primary-80);
}
button.signOut:hover {
  color: rgb(204, 48, 30);
  background-color: #000000;
}